
.header-navbg{
    background-color: #575366;
    color: #D1E3DD;
}

.header-match-title{
    font-weight: bold;
    font-family: Broadway, serif;
    letter-spacing: .5px;
}

.header-font-size {
    font-size: 2.5vw;
}

.jumboBg {
    background-image: url('../bg-image/dark-honeycomb.png');
    margin: 0px;
}


div.container.drop {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 1rem;
}

img {
    border: 0px !important;
    width: 160px;
}

  
.footer-style{
    height: 100px;
    background-color: #575366; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 12px;
}



@media only screen and (min-width: 0px) and (max-width: 487px) {
    img {
        width: 100%;
    }
  }