


div.container.drop {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 1rem;
}

/* Mobile Styles */
@media only screen and (min-width: 0px) and (max-width: 487px) {
    img {
        width: 100%;
    }
  }
  
  
.footer-style{
    height: 100px;
    background-color: #575366; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 12px;
}

    